rails-form_for-lab/app/views/school_classes/edit.html.erb
@denaweiss5
denaweiss5 Done.
Latest commit 4ef587b on Nov 22, 2020
 History
 1 contributor
11 lines (8 sloc)  234 Bytes
  
<h3>School Class Form</h3>

<%= form_for(@school_class) do |f| %>
  <label>Title:</label><br>
  <%= f.text_field :title %><br>

  <label>Room Number:</label><br>
  <%= f.number_field :room_number %><br>
  
  <%= f.submit %>
<% end %>
